{
    "parser": "babel-eslint",
    "extends": "eslint-config-airbnb",
    "rules": {
      "strict": 0,
      "no-console": 1,
      "no-unused-vars": 0
    },
    "env": {
      "browser": true,
      "node": true
    }
}
